.container {
  /* outline: yellow solid 3px; */
  text-decoration: none;
  /* background-color: #141414; */
  background-color:#232323;
  /* color: #f1f1f1;  */
  height: 7vh; 
} 

.containerImage{
  /* outline: pink solid 3px; */
  height: 50px;
  width: 145px;
  background-image: url("../../assets/LOGOGAMEZONE3\ blanco4.png");
  background-size: cover; 
  float: left;
  margin-top: 10px;
  margin-left: 60px;
}

.container p {
  font-size: 19px;
  text-decoration: none;
}

.section {
  /* outline: red solid 3px; */
  display: flex;
  width: 80%;
  justify-content: space-between;
  text-decoration: none;
  display: flex;
  float: right;
  margin-top: 15px;
  margin-right: 50px;
  
}


.section p {
  
  margin: 3px 0;
  /* color: #f1f1f1; */
  text-decoration: none;
  
}

.section a {
  margin: 3px 0;
  color: #f1f1f1;
  /* color:grey; */
  text-decoration: none;
}

.section img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.socialMediaIcons {
  /* outline: red solid 3px; */
  display: flex;
  align-items: center;
  gap: 30px;
  color: #f1f1f1;
  margin: 3px 50px;
}


@media only screen and (max-width: 600px) {
  .container {
    width: 100px;
      height: 70px; 
  }
}

.container {
  /* outline: yellow solid 3px; */
  text-decoration: none;
  /* background-color: #141414; */
  background-color:#232323;
  /* color: #f1f1f1;  */
  height: 7vh; 
} 

.containerImage{
  /* outline: pink solid 3px; */
  height: 50px;
  width: 145px;
  background-image: url("../../assets/LOGOGAMEZONE3\ blanco4.png");
  background-size: cover; 
  float: left;
  margin-top: 10px;
  margin-left: 60px;
}

.container p {
  font-size: 19px;
  text-decoration: none;
}

.section {
  /* outline: red solid 3px; */
  display: flex;
  width: 80%;
  justify-content: space-between;
  text-decoration: none;
  display: flex;
  float: right;
  margin-top: 15px;
  margin-right: 50px;
  
}


.section p {
  
  margin: 3px 0;
  /* color: #f1f1f1; */
  text-decoration: none;
  
}

.section a {
  margin: 3px 0;
  color: #f1f1f1;
  /* color:grey; */
  text-decoration: none;
}

.section img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.socialMediaIcons {
  /* outline: red solid 3px; */
  display: flex;
  align-items: center;
  gap: 30px;
  color: #f1f1f1;
  margin: 3px 50px;
}


@media only screen and (max-width: 600px) {
  .container {
    width: 100px;
      height: 70px; 
  }
}


.section a:hover,
.socialMediaIcons a:hover {
color: yellow;
}